<mapper namespace="com.reid.dao.IUser">
    <!--sql唯一标识：namespace.id来组成：statementId-->
    <select id="findAll" resultType="com.reid.pojo.User">
        SELECT * FROM `test_demo`;
    </select>

    <select id="findByCondition" resultType="com.reid.pojo.User" parameterType="com.reid.pojo.User">
        SELECT * FROM `test_demo` WHERE id = #{id} AND name = #{name};
    </select>

    <select id="getUser" resultType="com.reid.pojo.User">
        SELECT * FROM `test_demo` WHERE id = #{id} AND name = #{name};
    </select>

</mapper>
